* {
    font-family: 'Teko', sans-serif;
    user-select: none;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.timer-container {
    width: 70vw;
    height: 50vmax;
    margin: 30px auto;
}

.timer-background {
    position: relative;
    width: inherit;
    height: 51vmax;
    background-color: grey;
    border-radius: 5px;
}

.timer-background-frame {
    position: absolute;
    top: 0;
    width: 99%;
    height: 50vmax;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.12);
}

.timer-display {
    text-align: center;
}

.timer-time {
    font-size: 10vw;
    margin-top: 15vmax;
    color: white;
    letter-spacing: 15px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
}

.timer-mode {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 4vw;
    color: white;
    letter-spacing: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12);
}

.timer-button {
    position: absolute;
    width: 60%;
    background-color: white;
    height: 5vh;
    bottom: 5%;
    left: 20%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.timer-button:hover {
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.12)
}

.timer-button:active {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.12);
}

.flashing {
    animation: flash .6s ease infinite;
}

@keyframes flash {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 0;
    }
}

.specialWords {
    font-size: 5vw;
}

@media only screen and (min-width: 600px) {
    .timer-help {
        background: rgba(0, 0, 0, 0.164);
        text-align: right;
        font-size: 30px;
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        float: right;
        opacity: .3;
        transition: all .2s;
        cursor: pointer;
    }
    
    .timer-help:hover {
        opacity: 1;
    }
    
    .timer-help-icon {
        font-size: 30px;
        margin-top: -3px;
    }
}

@media only screen and (max-width: 600px) {
    .timer-help {
        background: rgba(0, 0, 0, 0.164);
        font-size: 20px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        transition: all .2s;
    }
}

